@model List<UserInfo>
@{
    ViewBag.Title = "MeetingList";
}
<main class="text-center">

    <h1 class="h4">Meeting listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Katilim durumu</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model){
                var isCheck = item.WillAttend == true ? "Yes" : "No";
                var className = item.WillAttend == true ? "table-success" : "table-danger";
                var btn_className = item.WillAttend == true ? "btn btn-success" : "btn btn-danger";
                <tr class="@className">
                    <td>@item.Name</td>
                    <td>@isCheck</td>
                    <td>
                        <a class="@btn_className" asp-controller="Meeting" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>